{% extends 'base.html.twig' %}

{% block title %}Sortir.com{% endblock %}
{% block titre %}Bienvenue !{% endblock %}

{% block body %}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aspernatur commodi eius esse magni modi nam, optio quam sequi voluptas? Accusamus, eum incidunt iure laboriosam magnam nobis quasi qui velit.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa harum laborum maxime nam nesciunt odit saepe tempore. Labore, quis tenetur. Blanditiis dolores ea laboriosam molestiae pariatur perferendis quam soluta tempore?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa harum laborum maxime nam nesciunt odit saepe tempore. Labore, quis tenetur. Blanditiis dolores ea laboriosam molestiae pariatur perferendis quam soluta tempore?</p>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa harum laborum maxime nam nesciunt odit saepe tempore. Labore, quis tenetur. Blanditiis dolores ea laboriosam molestiae pariatur perferendis quam soluta tempore?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa harum laborum maxime nam nesciunt odit saepe tempore. Labore, quis tenetur. Blanditiis dolores ea laboriosam molestiae pariatur perferendis quam soluta tempore?</p>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa harum laborum maxime nam nesciunt odit saepe tempore. Labore, quis tenetur. Blanditiis dolores ea laboriosam molestiae pariatur perferendis quam soluta tempore?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa harum laborum maxime nam nesciunt odit saepe tempore. Labore, quis tenetur. Blanditiis dolores ea laboriosam molestiae pariatur perferendis quam soluta tempore?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa harum laborum maxime nam nesciunt odit saepe tempore. Labore, quis tenetur. Blanditiis dolores ea laboriosam molestiae pariatur perferendis quam soluta tempore?</p>

{% endblock %}
