body {
    margin-bottom: 80px;
}
h1 {
    margin: 25px;
}

.centre {
    margin-top: 10%;
}

.btn {
    margin: 10px;
}

.my-custom-scrollbar {
    overflow-y:scroll;
    height:50px;
    width: 130vh;
}
