body {
    margin-top: 59px; /* marge du header */
    margin-bottom: 59px; /* marge du footer */
}
h1 {
    margin-top: 25px;
    margin-bottom: 50px;
}

.centre {
    margin-top: 10%;
}

.btn {
    margin: 10px;
}

.flash {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(-50%);
}

.scrollable {
    /* défini la taille du conteneur par rapport à la hauteur de la fenêtre moins les marges verticales du body */
    max-height: calc(100vh - 118px);
    /* compense la largeur de la scroll bar pour que le contenu reste centré
    (container a par défaut 15px de padding, j'ajoute les 10px de la scrollbar) */
    padding-left: calc(15px + 10px);
    /* scroll plutôt que auto pour éviter que le contenu de la page ne se déplace quand la scrollbar apparaît/disparaît */
    overflow-y: scroll;
}
/* ScrollBar pour webkit (Chrome,Safari,Edge,Opera,... mais pas Firefox) */
::-webkit-scrollbar {
    background: #FFFFFF;
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #78C2AD;
    border-radius: 10px;
}

.tableFixHead          { overflow-y: auto; height: calc(80vh - 150px); }
.tableFixHead thead th { position: sticky; top: 0; }

/* Just common table stuff. Really. */
table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
th     { background:#eee; }

.formRecherche {
    margin: 20px;
}