body {
    margin-top: 59px; /* marge du header */
    margin-bottom: 59px; /* marge du footer */
}
h1 {
    margin-top: 25px;
    margin-bottom: 50px;
}

.centre {
    margin-top: calc(calc(100vh - 500px)/2);
}

.btn {
    margin: 10px;
}

.flash {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(-50%);
}

.scrollable {
    /* défini la taille du conteneur par rapport à la hauteur de la fenêtre moins les marges verticales du body */
    height: calc(100vh - 118px);
    /* compense la largeur de la scroll bar pour que le contenu reste centré
    (container a par défaut 15px de padding, j'ajoute les 10px de la scrollbar) */
    padding-left: calc(15px + 10px);
    /* scroll plutôt que auto pour éviter que le contenu de la page ne se déplace quand la scrollbar apparaît/disparaît */
    overflow-y: scroll;
}
/* ScrollBar pour webkit (Chrome,Safari,Edge,Opera,... mais pas Firefox) */
::-webkit-scrollbar {
    background: #FFFFFF;
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #78C2AD;
    border-radius: 10px;
}

.tableFixHead {
    overflow-y: auto;
    max-height: calc(80vh - 150px);
}
.tableFixHead thead th {
    position: sticky;
    top: 0;
}

th {
    background:#eee;
}

/* OpenLayers Map */
.ol-control button {
    font-size: 1em !important;
}
.ol-popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    min-width: max-content;
    max-width: 400px;
    transform: translate(-50%);
    padding: 15px
}
.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    transform: translate(-50%);
}
.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 12px;
    transform: translate(-50%);
}
.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 1px;
    right: 1px;
}
.ol-popup-closer:hover {
    text-decoration: none;
}
.ol-popup-closer:after {
    content: "✖";
}
