{% extends '@!EasyAdmin/page/content.html.twig' %}

{% block page_title %}EasyAdmin{% endblock %}

{% block main %}
    Vous avez {{ users }} utilisateurs and {{ sorties }} sorties.

    <div class="button-action">
        <a class="btn btn-primary" href="{{ path('admin_addCSVFile') }}">
            <i class="fa fa-download"></i>
            Importer un utilisateur via un .csv
        </a>
    </div>
{% endblock %}
